<h1>Item in <%= @project.name %></h1>

<p>
  <b>Item name:</b>
  <%= @user_history.name %>
</p>


<%= link_to 'Edit', edit_project_user_history_path(@project, @user_history) %> |
<%= link_to 'Back', project_user_histories_path(@project) %>
