<% content_for :heading do %>
Project List
<% end %>
<div class="ui-body ui-body-b">
	<fieldset class="ui-grid-a">
		<% @projects.each do |project| %>
			<p>Project: <%=link_to project.name, project %></p>
		<% end %>
	</fieldset>
</div>
<%= link_to 'New Project', new_project_path %>
