<% content_for :heading do %>
Projects
<% end %>
<div class="ui-body ui-body-b">
	<fieldset class="ui-grid-a">
	<table>
	<tr>
		<td><b>Project</b></td>
		<td><b>Description</b></td>
		<td><b>Action</b></td>
	</tr>
	<% @projects.each do |project| %>
	<tr>
		<td><%= link_to project.name, project %></td>
		<td><%= project.description %></td>
		<td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
	<% end %>
	</table>
	</fieldset>
</div>

<br />

<%= link_to 'New Project', new_project_path %>

