<p>
  <b>Project name:</b>
  <%= @project.name %>
</p>

<!-- Display user_histories of an project -->
<h2>HU</h2>
<% @project.user_histories.each do |item| %>
  <p>
    <b>HU name:</b>
    <%= item.name %>
  </p>
<% end %>

<%= link_to 'Ver historias de usuario', project_user_histories_path(@project) %>




